@import 'theme';

// Override globally all text to use Helsinki font.
* {
  font-family: $font-family-base;
}

// Override the default background image with a solid color
.login-pf {
  background: $light-blue;
}
.login-pf body {
  background: none;
}

// Custom styles

// Helsinki logo
.helsinki-logo {
  height: 44px;
  width: 95px;
  // This margin is 8px. the design has 6px, but it no such spacing
  // exists
  margin-bottom: $spacing-2xs;
}