@import 'theme';

// Override globally all text to use Helsinki font.
* {
  font-family: $font-family-base;
}

// Set root font to a value that HDS expects
html {
  font-size: 16px;
  color: $color-black-90;
}


// CUSTOM STYLES

// Helsinki logo
.helsinki-logo {
  max-height: 44px;
  // width: 95px;
  // This margin is 8px. the design has 6px, but it no such spacing
  // exists
  margin-bottom: $spacing-2xs;
  // Sets image within the img element to be anchored into the top left
  // corner instead of centering.
  object-fit: contain;
  object-position: 0 0;
}

// Form group

// Sets whitespace according to HDS
.hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-s;
  }
}

// Apply error colours
.hs-has-error.hs-form-group {
  color: $color-error;
}

// Tee registration page has a longer form, which is why the designer
// has used a smaller spacing for it. Most forms in this app are short
// so we are treating the condensed form as a special case.

#kc-register-form .hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-xs;
  }
}

// Custom block 
// On the login form that contains a password reset button.
#hs-reset-password {
  padding-bottom: $spacing-layout-xs;
  // Overrides default margin for form-group. This may end up being a
  // naive solution in the long run.
  margin-bottom: $spacing-s;

  border-bottom: 2px solid $color-black-20;
}

// Custom typography
// A subtitle text that can be used to label sections/blocks
.hs-subtitle {
  display: inline-block;

  font-size: $font-size-5;
  color: $color-black-90;

  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

// Custom button wrapper
// A wrapping block element that positions two button side by side with
// margin in between.
.hs-button-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $spacing-xs;
}

// Custom checkbox component copied from open-city-profile
.hs-checkbox {
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;

  &__box-wrapper {
    position: relative;
  }

  &__box {
    margin: 0 !important;
    position: relative;
    width: $spacing-layout-xs;
    height: $spacing-layout-xs;
    -webkit-appearance: none;

    // background-color: $color-white;
    // Custom colour that does not exist in the style system yet (?)
    border: 2px solid #c4c4c4;
    border-radius: 1px;
    // mask-image: none;
    // -webkit-mask-image: none;

    // If the form group has an error, set checkbox into error state.
    .hs-has-error & {
      border-color: $color-error;
    }

    &:checked {
      color: $color-white;

      background-color: $color-bus-dark-50;
      border-color: $color-bus-dark-50;
      mask-image: initial;
      -webkit-mask-image: initial;

      &:focus {
        outline: none;
      }
    }
  }

  &__tick {
    position: absolute;
    left: 3px;
    top: 5px;
    width: 18px;
    height: 14px;
    display: none;

    color: $color-white;

    pointer-events: none;

    .hs-checkbox__box:checked ~ & {
      display: inline-block;
    }
  }

  &__label {
    margin:  0 0 0 $spacing-xs;

    font-size: $font-size-body-default;
    font-weight: normal;
  }
}

// Input wrapper
// Is used for positioning error icons
.hs-input-wrapper {
  position: relative;
}

// Link
.hs-link,
a.hs-link {
  padding-bottom: 1px;

  font-size: $font-size-5;
  font-weight: normal;
  color: $color-primary;
  text-decoration: none;

  border-bottom: 1px solid currentColor;

  &:hover {
    color: $color-primary;

    border-bottom-color: transparent;
  }
}

// Paragraph
// Include a selector with high specificity in order to ignore generic P
// styles
.hs-p,
.login-pf-page .card-pf .hs-p {
  margin-bottom: $spacing-m;

  font-size: $font-size-5;
  color: $color-black-90;
  line-height: 1.5;
}