@import 'theme';

// Override globally all text to use Helsinki font.
* {
  font-family: $font-family-base;
}

// Set root font to a value that HDS expects
html {
  font-size: 16px;
  color: $color-black-90;
}

// OVERRIDES

// Override the default background image with a solid color
.login-pf {
  background: $light-blue;
}
.login-pf body {
  background: none;
}

// Use correct typography for page title
#kc-page-title {
  margin-top: 0;
  margin-bottom: $spacing-layout-xs;

  font-size: $font-size-2;
  font-weight: bold;
  text-align: unset;
}

// Use correct whitespace for login page
.login-pf-page .card-pf {
  padding: $spacing-layout-m;
}

.login-pf-page .login-pf-header {
  margin-bottom: 0;
}

.card-pf {
  max-width: 580px;
}

// Use correct whitespace for button container
#kc-form-buttons {
  margin-top: $spacing-layout-m;
}

// Unset text-align in order to ignore centered text
.login-pf-page .login-pf-signup {
  text-align: unset;
}

// Ignore margin that is used for inlined elements in original theme.
// In the helsinki theme these elements are no longer inlined.
.login-pf-page .login-pf-signup a {
  margin-left: unset;
}

// Ignore margin that is used to separate form elements from info
// elements
.login-pf-page .login-pf-signup {
  margin: unset;
}

// Ignore margin that breaks padding. It's on an element that should be 
// the last element on pages. If it ends up not being that, set a margin
// with &:not(:last-child).
#kc-registration {
  margin-bottom: unset;
}

// Set alert icon size to match that in design files
.hds-notification .pficon {
  position: relative;
  bottom: -4px; // Center vertically
  width: 24px;
  height: 24px;
  margin-right: $spacing-s;

  font-size: 24px;
}


// CUSTOM STYLES

// Helsinki logo
.helsinki-logo {
  max-height: 44px;
  // width: 95px;
  // This margin is 8px. the design has 6px, but it no such spacing
  // exists
  margin-bottom: $spacing-2xs;
  // Sets image within the img element to be anchored into the top left
  // corner instead of centering.
  object-fit: contain;
  object-position: 0 0;
}

// Input
// NOTE: These styles will be available through HDS. Please refactor the
// theme to use those when possible. I've used a class that should match
// the class name in HDS, meaning that simply removing this rule should
// be enough.
.hds-text-input__input {
  width: 100%;
  padding: $spacing-xs 0.888em; // 0.888em = ~16px (not available through hds)

  font-size: $font-size-5;
  line-height: 1.666; // ~30px

  border-width: 2px;
  border-style: solid;
  border-radius: 1px;
  border-color: $color-black-20;
  background-color: inherit;

  &:focus {
    border-color: $color-black-90;
  }

  &::placeholder {
    color: $color-black-30;
  }
}

// Overriding HDS  Input label
// HDS provides styles for the label element, but they are out of sync
// with the definitions in the design side. These overrides fill the
// gaps.
.hds-text-input__label {
  font-size: $font-size-body-small;
}

// Overriding HDS Button
// The styles for HDS button seem are not precise enough to reproduce
// the buttons authentically in this application. On top of this issue,
// the buttons in the design files for this application use different
// colours compared to what buttons in HDS use.

// I've increased specificity for anchor elements because the base theme
// uses naive selector that target all links within the login page that
// break theme colours.

.hds-button,
a.hds-button {
  font-size: $font-size-body-default;
  font-weight: 600;
  line-height: 1.625;
}

.hds-button--primary,
a.hds-button--primary {
  background-color: $color-primary;
}

.hds-button--supplementary,
a.hds-button--supplementary {
  color: $color-primary;

  &:hover,
  &:active,
  &:focus {
    color: $color-primary-dark;
  }
}

// Form group

// Sets whitespace according to HDS
.hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-s;
  }
}

// Tee registration page has a longer form, which is why the designer
// has used a smaller spacing for it. Most forms in this app are short
// so we are treating the condensed form as a special case.

#kc-register-form .hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-xs;
  }
}

// Custom block 
// On the login form that contains a password reset button.
#hs-reset-password {
  padding-bottom: $spacing-layout-s;
  // Overrides default margin for form-group. This may end up being a
  // naive solution in the long run.
  margin-bottom: $spacing-s;

  border-bottom: 2px solid $color-black-20;
}

// Custom typography
// A subtitle text that can be used to label sections/blocks
.hs-subtitle {
  display: inline-block;

  font-size: $font-size-5;
  color: $color-black-90;

  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

// Overriding HDS notification
// The notification component uses the incorrect colours and font sizes

.hds-notification {
  padding: $spacing-s;

  background-color: $color-error-light;
  border-left-width: 0.25rem;
  border-color: $color-error;
}

.hds-notification__label {
  // This colour was in the design file, but it does not exists in HDS.
  color: $color-error;
  font-size: $font-size-5;
  font-weight: bold;
}