@import 'theme';

//-- Form

// Apply error colours to checkboxes
.hs-has-error.hs-form-group .hds-checkbox .hds-checkbox__label {
  color: $color-error;
}
.hs-has-error.hs-form-group .hds-checkbox .hds-checkbox__label::after {
  border-color: $color-error;
}


//-- Notification

// The notification component uses the incorrect colours and font sizes
.hds-notification {
  padding: $spacing-s;

  border-left-width: 0.25rem;
  
  &--error {
    color: $color-error;

    background-color: $color-error-light;
    border-color: $color-error;
  }

  &--success {
    color: #007293;

    background-color: $color-info-light;
    border-color: #007293;
  }
}
.hds-notification__label {
  font-size: $fontsize-h-5;
  font-weight: bold;
}
