@import 'hds-design-tokens/lib/color/brand.scss';
@import 'hds-design-tokens/lib/color/ui.scss';
@import 'hds-design-tokens/lib/spacing/layout.scss';

// Can be found from HDS at some point
$font-size-2: 2.25rem;
$font-size-5: 1.125rem;
$font-size-body-small: 0.875rem;
$font-size-body-default: 1rem;
$spacing-2xs: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-s: 1rem;
// End can be found from HDS at some point

// Overrides outdated HDS values
$color-error: #b01038;
$color-error-light: #ffe9ed;
// End overrides outdated HDS value

$hel-grotesk: 'HelsinkiGrotesk', Arial, -apple-system, BlinkMacSystemFont,
'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
'Droid Sans', 'Helvetica Neue', sans-serif;

// Fonts
$font-family-base: $hel-grotesk;

// Colors
$light-blue: $color-fog;
$color-primary: $color-bus;
$color-primary-dark: $color-bus-dark-50;
