// Form group

// Tee registration page has a longer form, which is why the designer
// has used a smaller spacing for it. Most forms in this app are short
// so we are treating the condensed form as a special case.

#kc-register-form .hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-xs;
  }
}

// Custom block 
// On the login form that contains a password reset button.
#hs-reset-password {
  padding-bottom: $spacing-layout-xs;
  // Overrides default margin for form-group. This may end up being a
  // naive solution in the long run.
  margin-bottom: $spacing-s;

  border-bottom: 2px solid $color-black-20;
}

.hs-error-message{
  display: none;
  color: $color-error;
  padding: $spacing-s 0 0;
}

.hs-has-error{
  .hs-error-message{
    display: inline-block;
  }
}
.hs-side-note{
  color: $color-black-60;
  font-size: 12px;
}
