@import '../theme';
@import '../shared/custom';

$card-padding-mobile: $spacing-layout-2-xs;
$card-padding-mobile-vertical: $spacing-layout-l;
$card-padding-tablet: $spacing-layout-m;
$card-padding-tablet-vertical: $spacing-layout-xl;

// Override the default background image with a solid color
.login-pf {
  background: $page-background;
}
.login-pf body {
  background: none;
}

// Use correct typography for page title
#kc-page-title {
  margin-top: 0;
  margin-bottom: $spacing-layout-xs;

  font-size: $fontsize-h-2;
  font-weight: bold;
  text-align: unset;
}

// Ignore top padding on mobile views.
.login-pf-page {
  @media (max-width: $breakpoint-tablet) {
    padding-top: 0;
  }
}

// Use correct whitespace for login page
.login-pf-page .card-pf {
  padding: 0;
  p{
    color: $color-black-90;
  }
}
.login-pf-page .login-pf-header {
  margin-bottom: 0;
  padding: $card-padding-mobile-vertical $card-padding-mobile 0;
  background-image: url('../img/koros.svg');
  background-repeat: repeat-x;
  @media (min-width: $breakpoint-tablet) {
    padding: $card-padding-tablet-vertical $card-padding-tablet 0;
  }
}
.login-pf-page #kc-content {
  padding: 0 $card-padding-mobile;

  &:last-child {
    padding-bottom: $card-padding-mobile;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0 $card-padding-tablet;

    &:last-child {
      padding-bottom: $card-padding-tablet;
    }
  }
}

.card-pf {
  max-width: 580px;
}

// Unset text-align in order to ignore centered text
.login-pf-page .login-pf-signup {
  text-align: unset;
}

// Ignore margin that is used for inlined elements in original theme.
// In the helsinki theme these elements are no longer inlined.
.login-pf-page .login-pf-signup a {
  margin-left: unset;
}

// Ignore margin that is used to separate form elements from info
// elements
.login-pf-page .login-pf-signup {
  margin: unset;
}

// Ignore margin that breaks padding. It's on an element that should be 
// the last element on pages. If it ends up not being that, set a margin
// with &:not(:last-child).
#kc-registration {
  margin-bottom: unset;
}

// Set alert icon size to match that in design files
.hds-notification .pficon {
  position: relative;
  bottom: -4px; // Center vertically
  width: 24px;
  height: 24px;
  margin-right: $spacing-s;

  font-size: 24px;
}

// Use hs-p style for instructions
.instruction {
  @extend .hs-p;
}

// Remove bottom border that is applied by custom a rules
#kc-current-locale-link {
  border-bottom: none;
}
#kc-locale ul li a {
  border-bottom: none;
}

// Resolve keycloak link styles that conflict with hs styles
.login-pf a:hover {
  color: $color-primary;
  text-decoration: none;
}

// Stop language menu from creating unnecessary padding before title
// and logo.
// Set header as relative, so language menu can be positioned absolutely
// in terms of it.
.login-pf-header {
  position: relative;
}
// Position language menu absolutely in the top right corner of header.
#kc-locale {
  position: absolute;
  top: $card-padding-mobile-vertical;
  right: $card-padding-mobile;
  //align with logo and additional logo text
  margin-top: 5px;

  @media (min-width: $breakpoint-tablet) {
    top: $card-padding-tablet-vertical;
    right: $card-padding-tablet;
  }
}