body {
  background: #9fc9eb; }

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  font-weight: bold; }

.hs-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: initial;
  background: #ffffff; }
  @media (min-width: 768px) {
    .hs-card {
      margin: 1.5rem auto;
      max-width: 580px; } }

.title,
.tabs,
.content {
  padding: 0 1rem; }
  .title:first-child,
  .tabs:first-child,
  .content:first-child {
    padding-top: 1rem; }
  .title:last-child,
  .tabs:last-child,
  .content:last-child {
    padding-bottom: 1rem; }
  @media (min-width: 768px) {
    .title,
    .tabs,
    .content {
      padding: 0 3rem; }
      .title:first-child,
      .tabs:first-child,
      .content:first-child {
        padding-top: 3rem; }
      .title:last-child,
      .tabs:last-child,
      .content:last-child {
        padding-bottom: 3rem; } }

.tabs {
  border-bottom: 1px solid #b2b2b2; }
  .tabs > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .tabs > ul > li:not(:first-child) {
    margin-left: 0.75rem; }
    @media (min-width: 768px) {
      .tabs > ul > li:not(:first-child) {
        margin-left: 1.5rem; } }
  .tabs > ul > li > a,
  .tabs > ul > li > button {
    position: relative;
    display: inline-block;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #1a1a1a;
    border-bottom: none !important; }
    @media (min-width: 768px) {
      .tabs > ul > li > a,
      .tabs > ul > li > button {
        font-size: 1.125rem; } }
    .tabs > ul > li > a:hover,
    .tabs > ul > li > button:hover {
      text-decoration: none; }
    .tabs > ul > li > a::after,
    .tabs > ul > li > button::after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background-color: transparent; }
  .tabs > ul > li.active > a::after,
  .tabs > ul > li.active > button::after {
    background-color: #1a1a1a; }

.content {
  padding-top: 2rem; }
