@import "../theme";

//-- Form

// Apply error colours to checkboxes
.hs-has-error.hs-form-group .hds-checkbox .hds-checkbox__label,
.hs-has-error.hs-form-group .hds-text-input .hds-text-input__label {
  color: $color-error;
}
.hs-has-error.hs-form-group .hds-checkbox .hds-checkbox__label::after,
.hs-has-error.hs-form-group .hds-text-input .hds-text-input__input {
  border-color: $color-error;
}

// Synchronize font size of anchors inside labels
.hds-checkbox__label a {
  font-size: $fontsize-body-m;
}

//-- Notification

// The design for this theme used a notification component that existed
// on design side of HDS, but not on development side.
.hds-notification {
  padding: $spacing-s;

  border-top-width: $spacing-2-xs;
  border-left-width: 0;
}
.hds-notification__label {
  font-size: $fontsize-heading-xs;
  font-weight: bold;

  // This hack adds extra padding to allow multi row titles to span
  // rows more nicely.
  //
  // ♦ Text that
  // spans multiple rows
  // -->
  // ♦ Text that
  //   spans multiple rows
  // start hack 1 -->
  position: relative;
  padding: 0 $spacing-layout-xs 0 $spacing-xl;
  & .hds-icon {
    position: absolute;
    left: 0;
  }
  // <-- end hack 1
}
// The smiley icon isn't supported for use with notifications by
// default.
.hds-notification__label .hds-icon--face-smile {
  width: 1.4375em;
  height: 1.4375em;
}

//-- Button

// Remove text decoration for links that are disguised as buttons.
a.hds-button:hover {
  text-decoration: none;
}

// We are misusing the HDS button label class by directly applying it
// to some buttons. These rules odd cases caused by this.
.hds-button.hds-button__label:only-child {
  margin: 0;
}

.hds-icon-container {
  width: 1.1em;
  height: 1.5em;
  margin-left: $spacing-3-xs;
}
.hds-icon-after-link {
  color: $color-primary;
}
