@import "../theme";

// Ensure that patternfly does not set a bold font weight for checkbox
// labels.
label.hds-checkbox__label {
  font-weight: normal;
}

// Make sure that button links get the correct font size.
a.hds-button {
  font-size: $fontsize-body-default;
}

// Make sure that patternfly doesn't add a margin to hds checkboxes
// which break layout.
input[type="checkbox"].hds-checkbox__input {
  margin-top: 0;
}
