@import "../theme";

// Override globally all text to use Helsinki font.
* {
  font-family: $font-family-base;
}

// Set root font size to a value that HDS expects. Apply to body to
// override a default font size patternfly applies to some elements.
html,
body {
  font-size: 16px;
}

// Set default font color
html {
  color: $color-black-90;
}

// Form group
// Sets whitespace according to HDS
.hs-form-group {
  &:not(:last-child) {
    margin-bottom: $spacing-layout-s;
  }
}

// Custom typography
// A subtitle text that can be used to label sections/blocks
.hs-subtitle {
  display: inline-block;

  font-size: $fontsize-h-5;
  color: $color-black-90;

  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}

// Custom button wrapper
// A wrapping block element that positions two button side by side with
// margin in between or a single button spanning entire row.
//
// On mobile buttons will appear in a column in the reversed order--the
// latter button is displayed first.
.hs-button-row {
  display: flex;
  flex-direction: column;

  // Logic is reversed because the order is reversed. Normally we would
  // disabled margin for the last item.
  & *:not(:last-child) {
    margin-bottom: $spacing-xs;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;

    // Remove bottom margin on non-mobile layout
    & *:not(:last-child) {
      margin-bottom: unset;
    }

    // When flexbox begins to support column-gap, we can replace the below
    // rules with column-gap: $spacing-xs;
    & *:first-child {
      margin-right: $spacing-xs / 2;
    }

    & *:last-child {
      margin-left: $spacing-xs / 2;
    }

    // If the button is alone, apply no margin.
    & *:only-child {
      margin: 0;
    }
  }
}

// Link
.hs-link,
a.hs-link,
a {
  padding-bottom: 1px;

  font-size: $fontsize-h-5;
  font-weight: normal;
  color: $color-primary;
  text-decoration: none;

  border-bottom: 1px solid currentColor;

  &:hover {
    color: $color-primary;

    border-bottom-color: transparent;
    text-decoration: none;
  }
}

// Paragraph
// Include a selector with high specificity in order to ignore generic P
// styles
.hs-p,
.login-pf-page .card-pf .hs-p {
  margin-bottom: 0;

  font-size: $fontsize-h-5;
  color: $color-black-90;
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: $spacing-m;
  }
}

// Helsinki logo
.helsinki-logo {
  max-height: 44px;
  // width: 95px;
  // This margin is 8px. the design has 6px, but it no such spacing
  // exists
  margin-bottom: $spacing-2-xs;
  // Sets image within the img element to be anchored into the top left
  // corner instead of centering.
  object-fit: contain;
  object-position: 0 0;
}

// A footer for the login pane that houses the feedback link
.hs-footer {
  $mobile-v-whitespace: $spacing-layout-2-xs;
  $tablet-v-whitespace: $spacing-layout-m;

  display: flex;
  justify-content: flex-end;
  margin: $spacing-layout-s $mobile-v-whitespace 0;
  padding: $spacing-s 0 $spacing-s;

  border-top: 1px solid $color-black-20;

  @media (min-width: $breakpoint-tablet) {
    margin: $spacing-layout-s $tablet-v-whitespace 0;
    padding: $spacing-s 0 $spacing-m;
  }
}

// There's new "Profiili" -text beside logo
.logo-with-profile-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: $spacing-layout-s;
  img {
    height: 44px;
  }
  span {
    padding: 0 $spacing-layout-xs;
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: bold;
    line-height: 42px;
  }
}

.checked-list-title {
  font-weight: bold;
  padding: $spacing-layout-2-xs 0;
}

// list of user data with checkboxes
.checked-list {
  list-style: none;
  padding: 0 0 $spacing-layout-2-xs 0;
  li {
    background: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: -2px 50%;
    background-size: 23px 23px;
    // not using spacing-layout because values depend on icon size.
    padding: 4px 10px 4px 35px;
  }
}

// buttons that are 100% wide
.wide-buttons {
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
